[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
xmltodict = "*"
matplotlib = "*"
ipykernel = "*"
scipy = "*"
openxdf = {path = "./dist/openxdf-0.5.0-py3-none-any.whl"}
numpy = "*"

[dev-packages]
black = "*"
"flake8" = "*"
twine = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
